//
    deletedialog.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

- var content = {headline:"診療科削除", cancel:"キャンセル", depertment:"診療科名", delete:"削除" }

md-dialog.box-edge(flex)
    md-toolbar
        .md-toolbar-tools(layout="row", layout-align="end center")
            h3(flex)
                span(flex) #{content.headline}
            div
                md-button.md-fab.md-warn(ng-click='cancel()', aria-label="Cancel", style="position:relative;top:20px;")
                    ng-md-icon.iconfill(icon="clear", style="position:relative;top:4px;", size="46")
                    md-tooltip #{content.cancel}

    md-dialog-actions(layout="row")
        div.row
            md-button.md-raised.md-primary(ng-click='answer(null)', aria-label="Delete") #{content.delete}
            md-tooltip #{content.delete}