//
    registerdialog.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php
md-dialog(flex)
    md-toolbar
        .md-toolbar-tools(layout="row", layout-align="end center")
            h3(flex)
                span(flex) ボタン
            div
                md-button.md-raised.md-primary(ng-click='cancel()', aria-label="")
                    ng-md-icon.iconfill(icon="cancel", size="46")
                    md-tooltip キャンセル

    md-dialog-content.layout-padding
        ng-form(name="validate")
            div(layout="row", layout-align="start center")

                md-input-container(flex)
                    label アイテムラベル
                    input(ng-model="items.label", data-ng-required="true", name="label", placeholder='Enter title', md-maxlength="30", required)
                    div(ng-messages="validate.label.$error")
                        h6(ng-message="required") 必ず入力してください.
                        h6(ng-message="md-maxlength") もうすこし短くしてください.

                md-input-container(flex)
                    label name
                    input(ng-model="items.name", data-ng-required="true", name="name", placeholder='Enter title', md-maxlength="30", required)
                    div(ng-messages="validate.label.$error")
                        h6(ng-message="required") 必ず入力してください.
                        h6(ng-message="md-maxlength") もうすこし短くしてください.

    md-dialog-actions(layout="row")
                md-button.md-raised.md-primary(ng-click='answer()', ng-disabled="validate.$invalid", aria-label="") 更新
