div(layout="column")
    #header()
        img.wrapper(src="images/wmonsin.svg",style="width: 100%; height: auto;")

    #contents(show-xs, hide-gt-xs)
        div(layout="column", layout-align="space-around center")
            div
                img(src="images/openstar.svg",style="width: 100%; height: auto;")
            div
                img(src="images/seventh-code.svg",style="width: 100%; height: auto;")

    #contents(style="padding: 24px;height:220px;", hide-xs, show-gt-xs)
        div(layout="row", layout-align="space-around center")
            div(layout="column", layout-align="space-around center")
                img(src="images/openstar.svg",style="width: 100%; height: auto;")
                br
            div(layout="column", layout-align="space-around center")
                img(src="images/seventh-code.svg",style="width: 100%; height: auto;")