//
    registerdialog.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

md-dialog(flex)
    md-toolbar
        .md-toolbar-tools(layout="row", layout-align="end center")
            h3(flex)
                span(flex) 問診票アイテム登録
            div
                md-button.md-fab.md-warn(ng-click='cancel()', aria-label="Cancel", style="position:relative;top:20px;")
                    ng-md-icon.iconfill(icon="clear", style="position:relative;top:4px;", size="46")
                    md-tooltip キャンセル
    md-content
        md-card
            md-card-content
                ng-form(name="validate")
                    div(layout="row", layout-align="start center")
                        ng-md-icon.iconfill(icon="account_circle", size="46")

                        md-input-container(flex)
                            label アイテムラベル
                            input(ng-model="items.label", data-ng-required="true", name="label", placeholder='Enter title', md-maxlength="30", required)
                            div(ng-messages="validate.label.$error")
                                div(ng-message="required") 必ず入力してください.
                                div(ng-message="md-maxlength") もうすこし短くしてください.

                        md-input-container(flex)
                            label アイテム名
                            input(ng-model="items.name", data-ng-required="true", name="name", placeholder='Enter title', md-maxlength="30", required)
                            div(ng-messages="validate.label.$error")
                                div(ng-message="required") 必ず入力してください.
                                div(ng-message="md-maxlength") もうすこし短くしてください.

                    div(layout="row", layout-align="space-around center")
                        md-button.md-raised.md-primary(ng-click='answer()', ng-disabled="validate.$invalid", aria-label="") 登録
