//
    deletedialog.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php
    
md-dialog(flex="percentage")
    md-toolbar
        .md-toolbar-tools(layout="row", layout-align="end center")
            h3(flex)
                span(flex) 削除
            div
                md-button.md-fab.md-warn(ng-click='cancel()', aria-label="Cancel", style="position:relative;top:20px;")
                    ng-md-icon.iconfill(icon="clear", style="position:relative;top:4px;", size="46")
                    md-tooltip キャンセル
    md-content
        md-card
            md-card-content(layout="row", layout-align="space-around center")
                md-button.md-raised.md-primary(ng-click='answer()', aria-label="Delete") Delete
                md-tooltip 削除