//
    patientdialog.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

md-content.background
    md-card.box-edge
        md-card-content
            h1.md-headline 問診内容
            h4(ng-bind="Information.time")
            h3 {{Information.kana}} [ {{Information.name}} ]
            h3 レセコンの患者ID [ {{Information.patientid}} ]
        md-card-content
            div(layout="row")
                div
                    md-button.md-fab.md-warn(ng-click="showSheet()", aria-label="Tool", ng-if="type == 'Admin' || type == 'Editor'")
                        ng-md-icon.iconfill(icon="{{icon}}", size="46", options='{"rotation": "none"}')
                        md-tooltip ツール...
                div
                    md-switch(ng-model="IsDone" ng-disabled="!(type == 'Admin' || type == 'Editor')") Done

    md-card(ng-cloak)
        md-tabs.md-primary(md-selected="selectedIndex", style="min-height:660px;", ng-init="load()")

            md-tab
                md-tab-label data
                md-tab-body
                    md-list
                        div(layout layout-align="center center", ng-repeat="item in Input")

                            div(layout="row", ng-show="item.type == 'text'", flex)
                                md-card(flex)
                                    md-card-content(layout="row", layout-align="start center", flex)
                                        label.md-subhead(ng-bind="item.name", flex="30")
                                        .md-title(ng-bind="item.value")

                            div(layout="row", ng-show="item.type == 'select'", flex)
                                md-card(flex)
                                    md-card-content(layout="row", layout-align="start center", flex)
                                        label.md-subhead(ng-bind="item.name", flex="30")
                                        .md-title(ng-bind="item.value")

                            div(layout="row", ng-show="item.type == 'check'", flex)
                                md-card(flex, ng-show="item.value")
                                    md-card-content(layout="row", layout-align="start center", flex)
                                        label.md-subhead(ng-bind="item.name", flex="30")
                                        .md-title(ng-bind="item.value")

                            div(layout="row", ng-show="item.type == 'numeric'", flex)
                                md-card(flex)
                                    md-card-content(layout="row", layout-align="start center", flex)
                                        label.md-subhead(ng-bind="item.name", flex="30")
                                        .md-title(ng-bind="item.value")

            md-tab
                md-tab-label copyable
                md-tab-body
                    md-card
                        md-card-content(layout-align="start start", flex)
                            div(layout="column", ng-repeat="item in Input", flex)
                                div(ng-show="item.type == 'text'")
                                    strong(ng-bind="item.name") :
                                    span(ng-bind="item.value")
                                div(ng-show="item.type == 'select'")
                                    strong(ng-bind="item.name") :
                                    span(ng-bind="item.value")
                                div(ng-show="item.type == 'check'")
                                    div(ng-show="item.value")
                                        strong(ng-bind="item.name") :
                                        span(ng-bind="item.value")
                                div(ng-show="item.type == 'numeric'")
                                    strong(ng-bind="item.name") :
                                    span(ng-bind="item.value")

            md-tab
                md-tab-label schema
                md-tab-body
                    md-list
                        //canvas(id="schema-pic1", width="300", height="600")
                        //canvas(id="schema-pic2", width="300", height="600")
                        each item in patient.Input
                            if item.type == "picture"
                                md-card
                                    div(layout="row")
                                        div(flex)
                                            md-button.md-fab.md-warn(ng-click="download('schema-#{item.name}')", aria-label="Download")
                                                ng-md-icon.iconfill(icon="save", size="46", id="icon")
                                        div(flex)
                                            canvas(id="schema-" + "#{item.name}", width="300", height="600", ng-model="item.name")
                                            //canvas(id="schema-pic1", width="300", height="600")
                                            //canvas(id="schema-pic2", width="300", height="600")
                                        div(flex)
            md-tab
                md-tab-label edit
                md-tab-body
                    md-card
                        md-card-content(layout-align="start start", flex)
                            ng-form(name="validate")

                                div(layout="column", layout-align="start start")
                                    md-input-container(flex)
                                        label レセコンの患者ID
                                        input(ng-model="Information.patientid", name="patientid", placeholder='レセコンの患者ID', md-maxlength="30")
                                        div(ng-messages="validate.patientid.$error")
                                            div(ng-message="md-maxlength") too long

                                    div
                                        h5 誕生日
                                        md-datepicker(ng-model="birthday")

                                    div
                                        h5 性別
                                        md-radio-group(ng-model="Information.gender")
                                            md-radio-button(value="男性") 男性
                                            md-radio-button(value="女性") 女性

                                md-button.md-raised.md-primary(ng-click='setPatientID()', ng-disabled="validate.patientid.$invalid", aria-label="Save") Save


