//
    patientdialog.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

md-dialog.box-edge(flex)
    md-toolbar
        .md-toolbar-tools(layout="row", layout-align="end center")
            h3(flex)
                span(flex) 受付
            div
                md-button.md-fab.md-warn(ng-click='cancel()', aria-label="Cancel", style="position:relative;top:20px;")
                    ng-md-icon.iconfill(icon="clear", style="position:relative;top:4px;", size="46")
                    md-tooltip キャンセル

    md-dialog-content.layout-padding
        div(ng-bind="items.count")
        ng-form(name="validate")
            div(layout="row", layout-align="start center")
                ng-md-icon.iconfill-blue(icon="account_circle", size="46")
                md-input-container(flex)
                    label 名前
                    input(ng-model="items.name", data-ng-required="true", name="username", placeholder='Enter Name', md-maxlength="30", required)
                    div(ng-messages="validate.username.$error")
                        div(ng-message="required") 必ず入力してください.
                        div(ng-message="md-maxlength") もうすこし短くしてください.

            div(layout="row", layout-align="start center")
                ng-md-icon.iconfill-blue(icon="account_circle", size="46")
                md-input-container(flex)
                    label カナ
                    input(ng-model="items.kana", ng-pattern="/^[ぁ-んァ-ン s]+$/", data-ng-required="true", name="kana", placeholder='Enter Kana', md-maxlength="30", required)
                    div(ng-messages="validate.kana.$error")
                        div(ng-message="required") 必ず入力してください.
                        div(ng-message="md-maxlength") もうすこし短くしてください.
                        div(ng-message="pattern") カナで入力してください.

            div(layout="row", layout-align="space-around start")
                //div(layout="column", layout-align="center center")
                    h5 誕生日
                    md-datepicker(ng-model="items.birthday", name="birthday", required)
                    div(ng-messages="validate.birthday.$error")
                        div(ng-message="required") 必ず入力してください.

                div(layout="column", layout-align="center center")
                    md-input-container(flex)
                        label 誕生日
                        input(ng-model="items.birthday", name="birthday", placeholder='誕生日', md-maxlength="20", required)
                        div(ng-messages="validate.birthday.$error")
                            div(ng-message="required") 必ず入力してください.

                div(layout="column", layout-align="center center")
                    h5 性別
                    md-radio-group(ng-model="items.gender", name="gender", required)
                        md-radio-button(value="男性") 男性
                        md-radio-button(value="女性") 女性
                    div(ng-messages="validate.gender.$error")
                        div(ng-message="required") 必ず入力してください.

                div(layout="column", layout-align="center center")
                    h5 診療科
                    md-select(placeholder="診療科", ng-model="items.category",name="category", required)
                        md-option(ng-repeat="category in categories", value="{{category}}", ng-bind="category")
                    div(ng-messages="validate.category.$error")
                        div(ng-message="required") 必ず入力してください.

    md-dialog-actions(layout="row")
                md-button.md-raised.md-primary(ng-click='answer()', ng-disabled="validate.$invalid", aria-label="Save") 受付