//
    panel.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

- var content = {config:"設定", regist:"登録", login:"ログイン", name:"名前", password:"パスワード", required:"必ず入力してください", toolong:"もうすこし短くしてください", editor:"ドクター(編集権限)", viewer:"ナース(参照権限)",update:"更新", save:"保存", cancel:"キャンセル", changepass:"パスワード変更" }

md-content.background
    md-card
        md-card-content
            h1.md-headline #{content.config}

        md-card-content(layout="row")
            md-button.md-fab.md-accent(ng-click='showNotificationDialog()', aria-label="", ng-if="type == 'Admin' || type == 'Editor'")
                ng-md-icon.iconfill(icon="save", size="46", id="icon")
                md-tooltip #{content.save}

            md-button.md-fab.md-warn(ng-click="showConfigSheet()", aria-label="Done", ng-if="type == 'Admin' || type == 'Editor'")
                ng-md-icon.iconfill(icon="{{icon}}", size="46", options='{"rotation": "none"}')
                md-tooltip Open Tools...

    md-card
        md-card-content(layout="column")
                div.md-caption DB Address
                div.md-body-3 #{process.env.DB_PORT_27017_TCP_ADDR}

        md-card-content
            div(layout="row")
                md-input-container(flex="50")
                    label DB User
                    input(ng-model="config.dbuser",data-ng-required="true", name="dbuser", placeholder='DB User', type="text", md-maxlength="100")

                md-input-container(flex="50")
                    label DB Password
                    input(ng-model="config.dbpassword",data-ng-required="true", name="dbpassword", placeholder='DB Password', type="text", md-maxlength="100")

            div(layout="row")
                md-input-container(flex="50")
                    label DB Address
                    input(ng-model="config.dbaddress",data-ng-required="true", name="dbaddress", placeholder='DB Address', type="text", md-maxlength="100")

                md-input-container(flex="50")
                    label DB Name
                    input(ng-model="config.dbname",data-ng-required="true", name="dbname", placeholder='DB Name', type="text", md-maxlength="100")


            div(layout="row")
                md-input-container(flex="50")
                    label Session Key
                    input(ng-model="config.sessionkey",data-ng-required="true", name="sessionkey", placeholder='Session Key', type="text", md-maxlength="50")

                md-input-container(flex="50")
                    label Password Key
                    input(ng-model="config.key1",data-ng-required="true", name="key1", placeholder='Key', type="text", md-maxlength="50")

                md-input-container(flex="50")
                    label Account Key
                    input(ng-model="config.key2",data-ng-required="true", name="key2", placeholder='Key', type="text", md-maxlength="50")

                md-input-container(flex="50")
                    label API Key
                    input(ng-model="config.key3",data-ng-required="true", name="key3", placeholder='Key', type="text", md-maxlength="50")
