//
    browser0.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

md-content.background
    md-card
        ng-form(name="validate")
            md-card-content(layout layout-align="center center")
                h3.md-headline(ng-bind="contents.headline")

            md-card-content(layout layout-align="center center", ng-show="contents.picture.length > 0")
                md-radio-group
                    md-radio-button(ng-click="setColor('rgba(200, 20, 30, 0.4)')", value="rgba(200, 20, 30, 0.4)") 痛い
                    md-radio-button(ng-click="setColor('rgba(20, 200, 30, 0.4)')", value="rgba(20, 200, 30, 0.4)") 腫れ
                    md-radio-button(ng-click="setColor('rgba(20, 20, 200, 0.4)')", value="rgba(20, 20, 200, 0.4)") 痺れ

                canvas#schema(width="300", height="600")
                md-button.md-raised.md-warn(ng-click="clearPicture()") 消去

            md-list
                md-list-item(layout-align="center center" ng-repeat="content in contents.items")

                    md-card.box-edge(flex)
                        md-card-content(layout-align="start center")

                            md-input-container(style="width:100%", ng-if="content.type == 'text' && content.items.length == 0")
                                label(ng-bind="content.label")
                                input(ng-model="content.model", placeholder="",name="{{content.name}}")

                            md-input-container(style="width:100%", ng-if="content.type == 'text' && content.items.length != 0")
                                label(ng-bind="content.label")
                                input(ng-model="content.model", placeholder="",name="{{content.name}}", md-maxlength="30", required)
                                div(ng-messages="validate[content.name].$error")
                                    div(ng-repeat="item in content.items", ng-message="{{item.name}}", ng-bind="item.message")

                            md-radio-group(ng-model="content.model",ng-if="content.type == 'select'", name="{{content.name}}", layout-align="center center",  required)
                                .md-display-1(ng-bind="content.label")
                                md-radio-button(ng-repeat="item in content.items", ng-model="content.model", value="{{item}}")
                                    .md-display-1(ng-bind="item")

                            md-checkbox.md-primary(ng-model="content.model", ng-if="content.type == 'check'", md-no-ink aria-label="Checkbox No Ink")
                                .md-display-1(ng-bind="content.label")

                            md-button.md-raised(flex, ng-if="content.type == 'button' && content.validate", ng-class="content.class", ng-click="next(content.path)", aria-label="", ng-disabled="validate.$invalid", ng-bind="content.label")
                            md-button.md-raised(flex, ng-if="content.type == 'button' && !content.validate", ng-class="content.class", ng-click="next(content.path)", aria-label="", ng-bind="content.label")

                            div(layout="column", flex, ng-if="content.type == 'numeric'")
                                div(layout="row",flex)
                                    md-input-container(style="width:100%")
                                        label(ng-bind="content.label")
                                        input(ng-model="content.model", placeholder="",name="{{content.name}}",ng-pattern="/^[0-9]+$/", md-maxlength="30", required)

                                div(layout="row",layout-align="center center", flex)
                                    div(layout="column",layout-align="center center", flex="80")
                                        div(layout="row",layout-align="center center")
                                            md-button.md-fab(flex="30", ng-click="content.model = content.model + '1'",  aria-label="") 1
                                            div(flex="5")
                                            md-button.md-fab(flex="30", ng-click="content.model = content.model + '2'",  aria-label="") 2
                                            div(flex="5")
                                            md-button.md-fab(flex="30", ng-click="content.model = content.model + '3'",  aria-label="") 3
                                        div()
                                        div(layout="row",layout-align="center center")
                                            md-button.md-fab(flex="30", ng-click="content.model = content.model + '4'",  aria-label="") 4
                                            div(flex="5")
                                            md-button.md-fab(flex="30", ng-click="content.model = content.model + '5'",  aria-label="") 5
                                            div(flex="5")
                                            md-button.md-fab(flex="30", ng-click="content.model = content.model + '6'",  aria-label="") 6
                                        div()
                                        div(layout="row",layout-align="center center")
                                            md-button.md-fab(flex="30", ng-click="content.model = content.model + '7'",  aria-label="") 7
                                            div(flex="5")
                                            md-button.md-fab(flex="30", ng-click="content.model = content.model + '8'",  aria-label="") 8
                                            div(flex="5")
                                            md-button.md-fab(flex="30", ng-click="content.model = content.model + '9'",  aria-label="") 9
                                        div()
                                        div(layout="row",layout-align="center center")
                                            md-button.md-fab(flex="30", ng-click="content.model = content.model + '0'",  aria-label="") 0
                                            div(flex="5")
                                            md-button.md-fab(flex="30", ng-click="content.model = content.model + '.'",  aria-label="") .
                                            div(flex="5")
                                            md-button.md-fab(flex="30" ng-click="content.model = ''",  aria-label="") Clear
                                        div(flex="5")