//
    browser0.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

md-content
    md-card
        ng-form(name="validate")
            md-card-content(layout layout-align="center center")
                h3.md-headline ありがとうございました

            md-card-content(layout layout-align="center center")
                md-button.md-raised.md-primary(ng-click="next(1)",  aria-label="") 次へ