extends ../layout.jade
block content

    body.background(ng-app="PatientsApplication")
        div(ui-view="")

block include

    if development
        script(type="text/javascript", src="javascripts/PatientsApplication.js")
        script(type="text/javascript", src="javascripts/PatientsControllers.js")
        script(type="text/javascript", src="../javascripts/TopControllers.js")
    else
        script(type="text/javascript", src="javascripts/PatientsApplication.min.js")
        script(type="text/javascript", src="javascripts/PatientsControllers.min.js")
        script(type="text/javascript", src="../javascripts/TopControllers.min.js")